.footer {
  --tw-bg-opacity: 1;
  background-color: rgb(239 240 243/var(--tw-bg-opacity));
  text-align: center;
  z-index: 2;
}

.text-container {
  display: flex;
  place-items: center;
}

.ul {
  list-style: none;
  float: inline-end;
  padding: 10px 10px;
}

.ul a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 5px 5px;
}

.row-with-spacer {
  display: flex;
}

.spacer {
  flex: 1;
}
