* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  height: 8vh;
  min-height: 50px;
  position: sticky;
  top: 0;

}

.background {
  background: white;
  background-blend-mode: darken;
  background-size: cover;
  box-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
}

.nav-list {
  width: 70%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 7vw;
  border-radius: 5px;
  height: 5vh;
  min-height: 40px;
  min-width: 100px;
}

.nav-list li {
  list-style: none;
  padding: 15px 15px;
}

.nav-list li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.nav-list li a:hover {
  color: grey;
}

.list {

  justify-content: flex-end;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-list li a {
    font-size: 14px;
  }
  .logo img {
    width: 3vw;
    height: 3vh;
  }

}


@media (max-width: 767px) {
  .nav-list li a {
    font-size: 12px;
  }
  .logo img {
    width: 3vw;
    height: 3vh;
  }
}