@use "./about";
@use "./footer";
@use "./header";
@use "./subFooter";
@use "./card";
@use "./home";
@use "./articleCard";
@use "./article";
@use "./skills";
@use "./button";
@use "./publications";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

html,
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  overflow-x: clip;
}
